.img{
    padding: 10px;
}

.row{
    border: 1px solid #ff92b9;
}

.col{
    border: 1px solid black;
}

#verdedir{
    background-color: white;
    min-height: 450px;
    min-width: 50px;
}

#PretoCentro{
    background-color: #ff92b9;
    min-height: 450px;
    max-width: none;
    padding: 3% ;
    border-radius: 3%;
    border: 5px;
}

#verdeesq{
    background-color: white;
    min-height: 450px;
    min-width: 50px;
}

#centroDir{
    background-color: #ff92b9;
}

footer{
    background: #ff92b9;
}
/*sides laterais resposive*/
#sides{
    width: auto;
    height: auto;
    padding: 2%;
    padding-bottom: 10%;
    
}

#video{
    padding-top: 1%;
    padding-bottom: 1%;
}

body{
    font-family: "Roboto", serif;
} 

