.img {
    padding: 10px;
}

.row {
    border-top: 1px solid #ff92b9;
    
}

.col {
    border: 1px solid black;
}

#verdedir {
    background-color: white;
    min-height: 450px;
    min-width: 50px;
    padding: 0%;
}

#PretoCentro {
    background-color: #ff92b9;
    min-height: 450px;
    max-width: none;
    padding: 3%;
    border: 5px;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    color: white;
}

#verdeesq {
    background-color: white;
    min-height: 450px;
    min-width: 50px;
    padding: 0%;
}

#centroDir {
    background-color: #ff92b9;
    min-height: 450px;
    max-width: none;
    padding: 3%;
    border: 5px;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

footer {
    background: #ff92b9;
}

/*sides laterais resposive*/
#sides {
    width: auto;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 0%;

}

#video {
    padding-top: 1%;
    padding-bottom: 1%;
    max-width: 350px;
    max-height: 350px;
    
}

/* estilização FONTE */
body {
    font-family: "montserrat", serif;
}

/* colors fonts */
p,
h5{
    color: white;
}

/* alinhamento icones NAVBAR */
i {
    display: flex;
}

.nav-item, #InstagramIcon, #FacebookIcon , #YoutubeIcon{
    display: inline-flex;
    align-items: center;
    margin-right: 3%;

}

ul.dropdown-menu.show{
    padding-left: 8px;
    padding-right: 8px;
}

a.nav-link.active, a.nav-link.dropdown-toggle {
    margin-left: 10px;
}



/* cor botão "PESQUISAR" */
button.btn.btn-outline-success{
    --bs-btn-border-color:#ff92b9;
    --bs-btn-color:#ff92b9;
    --bs-btn-hover-bg:#ff92b9;
    --bs-btn-hover-border-color: #ff92b9;
}


/* borda arredondada carrousel */
img.d-block.w-100{
    border-radius: 5%;
}

/* cor fonte navbar */
#NoticiasNAV:hover, 
#tutorial:hover, 
#redesNAV:hover, 
#instaNAV:hover, 
#youtubeNAV:hover, 
#facebookNAV:hover,
#marginCursos:hover{ 
    color:#ff92b9; 
}   

/* dimensão barra navegação CURSOS */
#marginCursos{
    margin-left: 0px;
    
}

/* marginIcones Redes Sociais */


#youtubeNAV.dropdown-item{
    margin-right: 12px;
}

#facebookNAV.dropdown-item{
    margin-right: 6px;
}

#instaNAV.dropdown-item{
    margin-right: 3px;
}


/* Arredondamento Borda DropdownMenu */
#NoticiasNAV, 
#tutorial, 
#redesNAV, 
#instaNAV, 
#youtubeNAV, 
#facebookNAV,
#marginCursos{
    border-radius: 5%;
    margin: 3%;
}

#redesNAV,
#NoticiasNAV, 
#tutorial,
#instaNAV, 
#youtubeNAV, 
#facebookNAV,
#marginCursos {
    color: gray;
}

section{
    columns: 3;
    column-gap: 50px;
}

.institucional{
    text-decoration-color: white;
    padding-top: 2%;
    background-color: black;
    text-align: center;
}
