.img {
    padding: 10px;
}

.row {
    border-top: 1px solid #ff92b9;
    
}

.col {
    border: 1px solid black;
}

#verdedir {
    background-color: white;
    min-height: 450px;
    min-width: 50px;
    padding: 0%;
}

#PretoCentro {
    background-color: #ff92b9;
    min-height: 450px;
    max-width: none;
    padding: 3%;
    border: 5px;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    color: white;
}

#verdeesq {
    background-color: white;
    min-height: 450px;
    min-width: 50px;
    padding: 0%;
}

#centroDir {
    background-color: #ff92b9;
    min-height: 450px;
    max-width: none;
    padding: 3%;
    border: 5px;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

footer {
    background: #ff92b9;
}

/*sides laterais resposive*/
#sides {
    width: auto;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 0%;

}

#video {
    padding-top: 1%;
    padding-bottom: 1%;
    max-width: 350px;
    max-height: 350px;
    
}

/* estilização FONTE */
body {
    font-family: "montserrat", serif;
}

/* colors fonts */
p,
h5{
    color: white;
}

/* alinhamento icones NAVBAR */
i {
    display: flex;
}

.nav-item, #InstagramIcon, #FacebookIcon , #YoutubeIcon{
    display: inline-flex;
    align-items: center;
    margin-right: 3%;

}

ul.dropdown-menu.show{
    padding-left: 8px;
    padding-right: 8px;
}

a.nav-link.active, a.nav-link.dropdown-toggle {
    margin-left: 10px;
}



/* cor botão "PESQUISAR" */
button.btn.btn-outline-success{
    --bs-btn-border-color:#ff92b9;
    --bs-btn-color:#ff92b9;
    --bs-btn-hover-bg:#ff92b9;
    --bs-btn-hover-border-color: #ff92b9;
}


/* borda arredondada carrousel */
img.d-block.w-100{
    border-radius: 5%;
}

/* cor fonte navbar */
#NoticiasNAV:hover, 
#tutorial:hover, 
#redesNAV:hover, 
#instaNAV:hover, 
#youtubeNAV:hover, 
#facebookNAV:hover,
#marginCursos:hover{ 
    color:#ff92b9; 
}   

/* dimensão barra navegação CURSOS */
#marginCursos{
    margin-left: 0px;
    
}

/* marginIcones Redes Sociais */


#youtubeNAV.dropdown-item{
    margin-right: 12px;
}

#facebookNAV.dropdown-item{
    margin-right: 6px;
}

#instaNAV.dropdown-item{
    margin-right: 3px;
}


/* Arredondamento Borda DropdownMenu */
#NoticiasNAV, 
#tutorial, 
#redesNAV, 
#instaNAV, 
#youtubeNAV, 
#facebookNAV,
#marginCursos{
    border-radius: 5%;
    margin: 3%;
}

#redesNAV,
#NoticiasNAV, 
#tutorial,
#instaNAV, 
#youtubeNAV, 
#facebookNAV,
#marginCursos {
    color: gray;
}

section{
    columns: 3;
    column-gap: 50px;
}

.institucional{
    padding-top: 3%;
    text-align: center;
    color: white;
    display: inline-block;

}

/* link decoração */
a:link{
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color: gray;
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color: gray;
}

/* a:active{
    color: gray;
    background-color: transparent;
    text-decoration: solid;
} */

/*iconsMedia */
#InstaMedia,
#YTmedia,
#faceMedia{
    display: inline-flex;
    flex-wrap: nowrap;
    width: 30px;
    height: 30px;

} 

.figure{
    justify-content: center;    
    display: flex;
    margin-top: 3%;
} 


.balaoFigura{
    display: flex;
    justify-content: center;
}

/* .MediaSociais{
max-width: 100px;
min-height: 100px;
justify-content: space-evenly;
flex-wrap: nowrap;
display: flex;
flex-direction: row;
} */

.NavSocial{
    margin: 0;
    padding: 0;
    text-align: center;
}

.NavSocial li{
    display: inline-block;
    padding: 20px;
}

.borderInstitucional{
    border-color: white;
    border-right: 1px;
    border-left: 1px;
    border-style: solid;
    border-bottom: transparent;
    border-top: transparent;
    margin-top: 10%;
}

/* Border Footer Center */
#sessaoBorder{
    padding:1%;
}

